<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--<add key="connectionString" value="Server=homecotest.database.windows.net; Database=HomeCoTest;User Id=homecotest;Password=homeco1212?"/>-->
    <!--<add key="connectionString" value="Server=./; Database=HomeCo;User Id=sa;Password=sasa"/>-->
    <add key="connectionString" value="Server=databaseserverepl.database.windows.net; Database=DataBaseEPL ;User Id=epladmin;Password=EPL4dmin" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
      <add key="Timer" value="60" />
        <add key="DataAcessClass" value="FrameworkEPL.Concret.SQL.DataAccessSQL" />

  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>